.field-name {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid;
  border-bottom: 3px solid black;
  background-color: white;
}
.field-name:focus {
  border: none;
  border-bottom: 2px solid red;
  background-color: white;
}

.align_center {
    text-align: center;
    background-color: white;
}

.control-label {
    position: relative;
    right: 130px;
}

.form-image{
    <i class="material-icons">facebook</i>
}
